.header{
    height: 30vw;
    
    margin: 0px auto;
    background: url('/header_img.jpg') no-repeat;
    background-size:100%;
    position: relative;
    /* border: solid #49557e; */
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
   
    bottom:10% ;
    left: 2vw;
    animation: fadeIn 3s;
    /* background-color: rgb(255,245,246); */
    border-radius: 20px;
    /* background-color:rgb(255,245,246) ; */
}
.header-contents h2{
    font-weight: 500;
    color: rgb(182, 101, 151);
    font-size: max(4vw,20px);
    margin-left: 20px;
}
/* rgb(169,77,99) */
.header-contents p{
    color: #49557e;
    font-size: 1.5vw;
    margin-left: 20px;
}
.header-contents button{
    border: none;
    color: rgb(182, 101, 151);
    font-weight: 500;
    padding: 1vw 2.3vw;
    margin: 0px 20px;
    margin-bottom: 20px;
    background-color:white;
    font-size: max(1vw,13px);
    border-radius: 50px;
}

.header-contents button:hover{
    color: #49557e;
    background-color:rgb(182, 101, 151);
   
}

@media (max-width:1050px) {
    /* .header{
        height: 38vw;
    } */
    .header-contents{
        max-width: 45%;
    }
    
}
@media (max-width:750px) {
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}